<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<header
    class="bg-image"
    style="
    background-image: url('https://images.wallpaperscraft.ru/image/single/maiak_noch_pejzazh_143019_1600x900.jpg');
    height: 100vh;
">
    <body>
        <div class="container text-center">
            <h1 class="display-2">About</h1>
            <p class="display-4">Это генератор паролей созданый Артемом Фроловым. Пользуйтесь на здоровье</p>
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Home</a>
        </div>
    </body>
</header>

